<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    
    <title>Home</title>
</head>
<body>
    <div class="topnav">
        <a href="/users/home">Home</a>
        <a onclick="logout()">Logout</a>
    </div>
    hello <span id="user"></span>
    <script src="/js/app.js"></script>
    <script src="/js/redirectAuth.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>