<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Login</title>
</head>
<body>
    <div class="topnav">
        <a href="/users/home">Home</a>
        <a href="/users/register">Register</a>
        <a href="/users/login">login</a>
    </div>
    <form>
        <div class="res"></div>
        <div class="container">

            <label for="email"><b>email</b></label>
            <input type="text" placeholder="Enter Email" class="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" class="password" required>
        
            <button type="button" id="loginBtn">Login</button>
            <button type="button" onclick="oauth()">use social network</button>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>